#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.flex {
  .flex + .flex {
    margin-left: 10px;
  }
  display: flex;
  align-items: center;
}
.el-switch,
.el-select.no-border,
.el-input.no-border {
  margin: 0 10px;
}

.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #333 !important;
}
//reset element-ui style
.el-input__wrapper {
  @apply shadow-none;
  &.is-focus,
  &:hover {
    @apply shadow-none;
  }
}
.el-select:hover:not(.el-select--disabled) {
  .el-input__wrapper,
  .el-input__wrapper.is-focus {
    @apply shadow-none;
  }
}

//
.draggable-item {
  @apply flex relative border-gray-300 border rounded-2xl px-2 cursor-move;
  .el-icon {
    @apply absolute right-1 cursor-pointer;
  }
}
.draggable-pust {
  @apply text-3xl flex justify-center items-center cursor-pointer border-b border-gray-300;
}
