#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.flex {
  .flex + .flex {
    margin-left: 10px;
  }
  display: flex;
  align-items: center;
}
.el-switch,
.el-select.no-border,
.el-input.no-border {
  margin: 0 10px;
}
.el-input,
.el-select {
  &.no-border {
    .el-input__wrapper {
      box-shadow: none;
      border-bottom: 1px solid #dcdfe6;
      border-radius: 0;
    }
  }
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: #333 !important;
}

//
.draggable-item {
  @apply flex relative border-sky-100 border rounded-2xl my-1 px-2 cursor-move;
  .el-icon {
    @apply absolute right-1 cursor-pointer;
  }
}
.draggable-pust {
  @apply text-3xl flex justify-center items-center cursor-pointer border-b border-sky-100;
}
